body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;

}
section{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    background: rgb(170,200,225);
background: linear-gradient(356deg, rgba(170,200,225,1) 0%, rgba(160,189,213,1) 0%, rgba(162,191,216,1) 0%, rgba(110,130,150,1) 100%);
}

h2, form:first-of-type label,p{
    color: rgb(45,70,100);
}



#selectionsFirst input{
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type=button]{
    background-color: rgb(155,90,0);
    color: white;
    padding: 5px, 15px;
    height: 35px;
    width: 70px;
    border-radius: 4px;
    align-self: flex-end;
    border: none;
    margin-bottom: 0;
    outline: none;
    transition: all 1s;
}

input[type=button]:hover{
    cursor: pointer;
    color: wheat;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

table, tr, td{
    border: 1px solid white;
    border-collapse: collapse;
    /* margin: 0;
    padding: 0; */
}
tr, td{
    padding: 5px;
}

/* #selectionsFirst label{
    padding-right: ;
} */